extends layout

block content
  h1= title
  p Welcome to #{title}

  form
    input(ng-model="newTodo")(placeholder="Write a todo")
    button(ng-click="addTodo()") add

  ul
    li(ng-repeat="todo in todos")
      span {{ todo.content }}
