extends layout

block content
  h1= title
  p Welcome to #{title}

  form
    input(ng-model="newTodo", placeholder="Write a todo")
    button(ng-click="addTodo()") add

  ul
    li(ng-repeat="todo in todos")
      p(ng-hide="editing", ng-click="editing = true") {{ todo.content }}
      p(ng-hide="editing") is completed: {{ todo.completed }}
      form(ng-show="editing", ng-submit="editing = false")
        input(type="text", ng-model="todo.content", placeholder="todo.content")
        button(type="submit") save
      button(ng-click="removeTodo(todo)") remove
